<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817880563692-94puc9vuoe870qr8ujedjt40538i3fml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817880563692-94puc9vuoe870qr8ujedjt40538i3fml</string>
	<key>API_KEY</key>
	<string>AIzaSyCpdGeKjCfi4So5Hi9q0G8FH1rCcueNkI0</string>
	<key>GCM_SENDER_ID</key>
	<string>817880563692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noahjwoodward.TripPlanner</string>
	<key>PROJECT_ID</key>
	<string>tripplanner-e5eac</string>
	<key>STORAGE_BUCKET</key>
	<string>tripplanner-e5eac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817880563692:ios:c2fca99bce80c38f</string>
	<key>DATABASE_URL</key>
	<string>https://tripplanner-e5eac.firebaseio.com</string>
</dict>
</plist>